{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}
<div class="row my-5">
    <div class="col-md-10 mx-auto">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
        {% endfor %}
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>List of category</span>
                <a href="{{ path('category_create') }}" class="btn btn-sm btn-primary">Add</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{category.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
