{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
<div class="row my-4">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Update product</h4>
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}